.snakemake
resources/BOLD_Public.*.tsv
results/
.idea
.DS_Store
*.tsv.gz
.Rhistory
.Rproj.user/
*.Rproj
criteria/
logs/
results/
cluster-tests/
PHASE1_OPTIMIZATION_README.md
doc/bold_pipeline_dag_even_faster_bags.svg
